.footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* выравниваем центральный контент по центру #6c757d */
  position: relative;  /* для позиционирования левого блока */
  padding:  15px 10px 10px;
  text-align: center;
  background-color: #523e85; /* пример фона, если нужен */
  color: #fff;           /* пример текста */
}

.footer a {
    font-size: 19.5px;
    margin: 5px 10px;
    color: #6c757d;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: #491375;
    transition: 0.45s;
}

